<!-- <div>
    <div>
        <span style="width:10em;line-height: 10em" class="flag-icon flag-icon-{{randomNationISOCode | lowercase}}"></span>
    </div>
    <input type="text" [(ngModel)]="myGuess" placeholder="enter name of nation">
    <button (click)="next()">Fire</button>
    <h1 *ngIf="myGuess && myGuess==randomNationName">Correct Guess !!!</h1>
</div> -->


<div class="container">


    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6" style="padding:15px;margin:10px;border-radius: 5px;background: whitesmoke;">


            <div class="inline">
                <div class="row">
                    <div class="col-md-7">
                        <div class="d-flex justify-content-end" style="color:white;padding: 2px;text-align: right ; ">

                            <span *ngIf="yes" id="scorevalue" style="border-radius:5px;margin-right: 12px;background:green;padding: 10px;">
                                    <countdown (finished)="onCorrect()" style="border-radius:5px;margin-right: 12px;padding: 10px;" [config]="{leftTime: 1* 1}">Correct</countdown>

                            </span>

                            <span *ngIf="no" id="scorevalue" style="border-radius:5px;margin-right: 12px;background:red;padding: 10px;">
                                    <countdown (finished)="onWrong()" style="border-radius:5px;margin-right: 12px;padding: 10px;" [config]="{leftTime: 1* 1}">Wrong</countdown>

                            </span>

                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="d-flex justify-content-end" style="color:white;padding: 8px;text-align: right ; ">

                            <span id="scorevalue" style="margin-right: 12px;background:orange;padding: 10px;">Score : {{score}}</span>

                        </div>
                    </div>
                </div>

                <div style="text-align: center; border-radius: 5px;">

                    <div style="width:20em;height: 12em " class="flag-icon flag-icon-{{randomNationISOCode | lowercase}}">
                    </div>

                </div>

                <div style="color:white;background:black;padding: 8px;margin: 15px 30px 0px 30px; ">

                    <h4 style="text-align: center">Which country has this flag ?</h4>

                </div>

                <div class="row" style="margin: 12px 20px 12px 20px;font: 14px 800;">

                    <button class="col-sm-12" (click)=" check(a[0]) " type="button ">{{a[0]}}</button>
                    <button class="col-sm-12" (click)="check(a[1]) " type="button ">{{a[1]}}</button>

                    <button class="col-sm-12" (click)="check(a[2]) " type="button ">{{a[2]}}</button>
                    <button class="col-sm-12" (click)="check(a[3]) " type="button ">{{a[3]}}</button>

                </div>
                <div style="color:white; " class=" row ">

                    <div class="col-md-2 ">

                    </div>
                    <div class="col-md-6  d-flex justify-content-center">
                        <button *ngIf="!playing " type="button " style="width:100px;height: 40px; " (click)="next() " class="btn btn-primary ">Start</button>
                        <button *ngIf="playing " type="button " style="width:100px;height: 40px; " (click)="onReset() " class="btn btn-primary ">Reset</button>

                    </div>

                    <div class="col-md-4  d-flex justify-content-center" style="font-size: 1em;padding-top: 10px;font-weight: 500 ">
                        <countdown (finished)="onFinished() " *ngIf="playing " style="color:black " [config]="{leftTime: 60} ">Time Left : $!s!</countdown>
                    </div>

                </div>



            </div>

        </div>



        <div class="col-md-3 "></div>

    </div>


</div>